PORT=5001
MONGODB_URI=mongodb://atlas-sql-6994525277f8851bcc0f7a38-fn9q5i.a.query.mongodb.net/campchat?ssl=true&authSource=admin
JWT_SECRET=ooJRlACTcVzFtUr8S68P5M9jUJGpQcMZ9QhUxev1t60
NODE_ENV=development
CLIENT_URL=http://localhost:5173
JWT_REFRESH_SECRET=2yKw7v55Uh26cScJNfTP5qE+bxZwmyAcPjkIDp2S0dU
ALLOWED_DOMAIN=yourdomain.com
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_password
