PORT=5001
MONGODB_URI=mongodb://localhost:27017/campchat
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
ALLOWED_DOMAIN=yourdomain.com
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_password
GEMINI_API_KEY=your_gemini_api_key
