PORT=5001
MONGODB_URI=mongodb+srv://prajapativishal15537_db_user:Vishal@7673@cluster0.uws3oag.mongodb.net/?appName=Cluster0
JWT_SECRET=your_jwt_secret_key
NODE_ENV=development
CLIENT_URL=http://localhost:5173
JWT_REFRESH_SECRET=your_jwt_refresh_secret
ALLOWED_DOMAIN=yourdomain.com
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_password
